name: Lint

on:
  push:
    branches: [cn]
  pull_request:
    branches: [cn]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: pnpm
      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile
      - name: Run Prettier
        run: pnpm run prettier:check
      - name: Run ESLint
        run: pnpm run lint
